:host([transitioning]) {
	pointer-events: none;
}

#underlay {
	background: var(--dialog-underlay-background, #8888);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity var(--dialog-underlay-fade-duration, 0.2s);
	z-index: 2;
}

:host([transitioning]) > #underlay {
	opacity: 0;
}

#content {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	overflow: auto;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
}

#content > ::slotted(*) {
	pointer-events: auto;
}
